{% extends 'global/pages/base.html' %}

{% block title %}
    {{ product.category }} | {{ product.name }}
{% endblock %}

{% block main %}
    {% include 'main/partials/_filter_category_products.html' %}

    <section class="C-product__detail">
        <figure class="C-product__figure">
            <img class="C-product__img" src="{{ product.cover.url }}" alt="Image of {{ product.name }}">
        </figure>
        <div class="C-product__data">
            <h1>{{ product.name }}</h1>
            <h2>{{ product.category }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: R$ {{ product.price }}</p>
            <p>Quantity into stock: {{ product.stock }}</p>
            <form class="C-product__form" action="{% url 'cart:add' product.id %}" method="POST">
                {% csrf_token %}
                {{ add_product_form }}
                <input type="submit" value="add to cart">
            </form>
        </div>
    </section>
{% endblock %}