<nav class="C-nav">
  <ul class="C-nav__ul C-nav__is_disable">
    <li class="C-nav__li">
      <a href="/" class="C-nav__link">página principal</a>
    </li>
    <li class="C-nav__li">
      <a href="{% url 'main:contact' %}" class="C-nav__link">entre em contato</a>
    </li>
    <li class="C-nav__li">
      <a href="{% url 'main:help' %}" class="C-nav__link">ajuda</a>
    </li>
  </ul>
  
  <span class="C-nav__menu_mobile material-symbols-outlined">
    sort</span>
  <a href="/" class="C-nav__title">Loja Virtual</a>
</nav>