* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  'nav'
  'main'
  'footer';
  background-color: var(--blue-five);
  min-height: 100vh;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --blue-one: #011F4B;
  --blue-two: #03396C;
  --blue-three: #005B96;
  --blue-four: #6497B1;
  --blue-five: #B3CDE0;
  --orange-one: #C33726;
  --orange-two: #E24C33;
  --orange-three: #DD6D55;
  --orange-four: #E1A793;
}

/* UTILS */
/* END UTILS */

/* GLOBAL*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}
/* END GLOBAL */

/* START NAV */
.C-nav {
  grid-area: nav;
  background-color: var(--blue-three);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.C-nav__menu_mobile {
  cursor: pointer;
  color: var(--white);
}

.C-nav__ul {
  position: fixed;
  top: 44px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  background-color: var(--blue-four);
  animation-name: open;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.C-nav__is_disable {
  display: none;
}

.C-nav__link {
  text-transform: capitalize;
  color: var(--white);
}

.C-nav__title {
  font-size: 20px;
  color: var(--orange-three);
  text-transform: capitalize;
  font-weight: 600;
}
/* END NAV */

/* STRAT MAIN */
.C-main {
  grid-area: main;
  padding: 5px 2%;
  overflow: hidden;
}

.C-main__title {
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: var(--blue-one);
  margin-bottom: 15px;
}

.C-main__h2 {
  font-size: 22px;
  font-weight: 400;
  color: var(--blue-two);
  margin-bottom: 5px;
}

.C-main__description {
  font-size: 16px;
  font-weight: 300;
  color: var(--blue-three);
}

.C-category {
  background-color: var(--blue-one);
  padding: 20px 5px;
}

.C-category__select {
  border: none;
  outline: none;
  height: 40px;
  width: fit-content;
  font-size: 16px;
}

.C-category__button {
  width: 60px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 300;
  background-color: var(--orange-three);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.C-category__button:hover {
  background-color: var(--orange-two);
}

.C-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
}

.C-products__h1 {
  text-transform: capitalize;
  margin: 30px 0;
}

.C-product__link {
  height: 320px;
  max-width: 320px;
}

.C-product__img {
  height: 100%;
  width: 100%;
}

.C-product__title {
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5;
}

.C-product__detail {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.C-product__figure {
  max-width: 450px;
}

.C-product__img {
  width: 100%;
}

.C-product__data h1, .C-product__data h2, .C-product__data p {
  margin: 8px 0;
  text-transform: capitalize;
}

.C-product__form input[type='submit'] {
  background-color: lightgreen;
  border: none;
  outline: none;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 150ms ease;
}

.C-product__form input[type='submit']:hover {
  opacity: 0.7;
}

.C-cart {
  width: 100%;
  padding: 10px;
}

.C-cart__title {
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 35px;
}

.C-cart__details h2 {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.C-cart__details > p {
  font-size: 18px;
  font-weight: 300;
  color: #242222;
  margin-bottom: 30px;
}

.C-cart__table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

.C-cart__table tbody {
  white-space: nowrap;
}

.C-cart__table th {
  text-transform: capitalize;
}

.C-cart__table img {
  width: 100%;
  max-width: 80px;
}

.C-cart__name {
  color: #242222;
  text-transform: capitalize;
}

.C-cart__form input[type='submit'] {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: lightgreen;
  cursor: pointer;
  transition: background 300ms linear;
}

.C-cart__form input[type='submit']:hover {
  background-color: rgb(117, 212, 117);
}

.C-cart__remove {
  display: block;
  text-align: center;
  transition: color 150ms linear;
}

.C-cart__remove:hover {
  color: red;
}

.C-cart__total {
  text-transform: uppercase;
  font-weight: 700;
}

.C-cart__total::after {
  content: ' :';
}

.C-cart__total_price {
  font-weight: 600;
}

.C-cart__button {
  text-transform: capitalize;
  font-weight: 400;
  text-align: right;
}

.C-cart__button > a {
  padding: 15px;
  display: inline-block;
  color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.253);
  transition: opacity 150ms linear;
  text-align: center;
  line-height: 1.5;
  margin: 10px 0;
}

.C-cart__button > a:hover {
  opacity: 0.8;
}

.C-cart__button a:first-child {
  background-color: var(--orange-three);
}

.C-cart__button a:last-child {
  background-color: var(--blue-one);
}

/* END MAIN */

/* START FOOTER */
.C-footer {
  grid-area: footer;
  background-color: var(--blue-four);
  padding: 2%;
  text-align: center;
}
/* END FOOTER */

/* START FORMS */
.C-form {
  width: 100%;
  max-width: 840px;
  padding: 5px;
  margin: 0 auto;
}

.C-form h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.C-form__form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.C-form__form label {
  display: block;
  width: 100%;
}

.C-form__input {
  display: block;
  width: 100%;
  outline: none;
  height: 45px;
  padding: 5px;
  margin-bottom: 15px;
}

.C-form__form textarea {
  width: 100%;
  outline: none;
  padding: 5px;
  resize: none;
}

.C-form__button {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--orange-four);
  color: var(--blue-one);
  transition: 300ms linear;
  display: block;
  margin: 0 auto;
}

.C-form__button:hover {
  background-color: var(--orange-three);
}

.errorlist li {
  color: var(--orange-one);
}

/* END FORMS */

/* -- START ANIMATION -- */
@keyframes open {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}
/* -- END ANIMATION -- */

/* --START MEDIA QUERIES */
@media screen and (min-width: 600px) {
  .C-product__detail {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 20px
  } 
}

@media screen and (min-width: 800px) {
  .C-nav {
    align-items: center;
  } 

  .C-nav__ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .C-nav__ul {
    position: relative;
    top: 0;
    background-color: transparent;
  }

  .C-nav__li {
    display: inline;
    margin-right: 30px;
  }

  .C-nav__li:first-child {
    margin-left: 15px;
  }

  .C-nav__menu_mobile {
    display: none !important;
  }
}
/* --END MEDIA QUERIES */